body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, #D93FC7, #6B5CFF);
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite ;
    font-family: "Geist", sans-serif;
}

main {
    display: flex;
    background-color: #ffffff;
    width: 1200px;
    height: 750px;
    border-radius: 30px;
} 

aside {
    width: 100%;
    background-image: url("../../public/RIWI.2023.10_0262.jpg");
    background-size: cover;
    background-position: -100px;
    border-radius: 30px 0px 0px 30px;
}

section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;
}

#logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

#logo h1 {
    font-size: 20px;
}

#logo img {
    width: 50px;
}

#eslogan {
    padding-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-size: 10px;
    margin-left: 20px;
}

form input {
    background-color: #F2F2F2;
    border: none;
    height: 2.5rem;
    border-radius: 5px;
    padding: 0rem 1rem;
}

form button {
    border: none;
    height: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
}

#submit {
    background-color: #007AFF;
    color: #ffffff;
}

#google {
    background-color: #333333;
    color: #ffffff;
}

/* Dentro del <style> */
.google-btn::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url('../../public/Google\ Icon.png'); /* Cambia por tu icono */
    background-size: cover;
    background-position: center;
}

button#submit:hover {
    background: #388e3c;
}

#sign {
    font-size: 14px;
    align-self: center;
}

#sing a {
    color: #077EFF;
    text-decoration: none;
}

/* Responsive: solo muestra el formulario y logo en pantallas pequeñas */
@media (max-width: 768px) {
    aside {
        display: none;
    }

    main {
        width: 80%;
        height: auto;
    }

    section {
        width: 100%;
        height: 100%;
        margin: 40px;
        border-radius: 0;
        padding: 20px;
    }

    #logo img {
        width: 60px;
        height: auto;
    }
}

@media (max-width: 480px) {
    aside {
        display: none;
    }

    main {
        position: relative;
        left: 0%;
        width: fit-content;
        height: fit-content;
    }

    section {
        width: 100%;
        height: 100%;
        margin: 40px;
        border-radius: 0;
        padding: 20px;
    }

    #logo img {
        width: 60px;
        height: auto;
    }
}

@keyframes gradientAnimation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}